<!DOCTYPE html>
<html
  lang="en"
  data-baseassets='{{ "" |> asset }}'
  data-baseurls="{{ [] |> path }}"
>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lume CMS</title>
    <link rel="stylesheet" href='{{ "/styles.css" |> asset }}'>
    <link rel="icon" href='{{ "/favicon.ico" |> asset }}' type="image/x-icon">
    <script type="importmap">
      {
        "imports": {
          "lume_cms/": "{{ '/' |> asset }}",
          "dom": "https://cdn.jsdelivr.net/gh/oscarotero/dom@0.2.0/dom.js",
          "std/": "https://cdn.jsdelivr.net/gh/oscarotero/std@1.3.2/",
          "cropper": "https://cdn.jsdelivr.net/npm/cropperjs@2.1.0/dist/cropper.esm.js"
        }
      }
    </script>
    <script>
      const darkLightModeStorageKey = "__lume_cms__user_theme";
      const contemporaryTheme = localStorage.getItem(
        darkLightModeStorageKey,
      );
      if (contemporaryTheme) {
        document.documentElement.setAttribute(
          "data-theme",
          contemporaryTheme,
        );
      }
    </script>

    <script type="module">
      import "lume_cms/components/ui.js";
      // deno-fmt-ignore-start
      {{ jsImports.map((file) => `import "${file}";`).join("\n") }}
      // deno-fmt-ignore-end
    </script>

    {{ extraHead }}
  </head>
  <body>
    <div class="app-container" tabindex="-1">
      <div class="app">
        {{ content }}
      </div>
      <footer class="app-footer">
        <p>
          Powered by
          <a href="https://lume.land/cms/">
            LumeCMS {{ cmsVersion |> slice(0, 7) }}
          </a>
        </p>
      </footer>
    </div>

    <script type="module">
      document.querySelector("#themeButton")
        .addEventListener("click", function () {
          if (localStorage.getItem(darkLightModeStorageKey) == "dark") {
            document.documentElement.removeAttribute("data-theme");
            localStorage.removeItem(darkLightModeStorageKey);
            dispatchEvent(
              new CustomEvent("themeChange", {
                detail: { theme: "light" },
              }),
            );
          } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem(darkLightModeStorageKey, "dark");
            dispatchEvent(
              new CustomEvent("themeChange", {
                detail: { theme: "dark" },
              }),
            );
          }
        }, false);

      document.querySelector("#logoutButton")
        ?.addEventListener("click", function () {
          const logoutUrl = '{{ ["logout"] |> path }}';
          const xmlHttp = new XMLHttpRequest();
          xmlHttp.open("POST", logoutUrl, true, "logout");
          xmlHttp.send();
          document.body.innerHTML =
            '<p class="emptyState is-fullscreen">Logged out.</p>';
        }, false);
    </script>
  </body>
</html>
