@import "./styles/app.css";
@import "./styles/variables.css";
@import "./styles/breadcrumb.css";
@import "./styles/reset.css";
@import "./styles/form.css";
@import "./styles/header.css";
@import "./styles/preview.css";
@import "./styles/footer.css";
@import "./styles/field.css";
@import "./styles/input.css";
@import "./styles/code.css";
@import "./styles/empty-state.css";
@import "./styles/input-file.css";
@import "./styles/select.css";
@import "./styles/checkbox.css";
@import "./styles/radio.css";
@import "./styles/accordion.css";
@import "./styles/button.css";
@import "./styles/layouts.css";
@import "./styles/list.css";
@import "./styles/button-icon.css";
@import "./styles/tooltip.css";
@import "./styles/modal.css";
@import "./styles/tools.css";
@import "./styles/u-icon.css";
@import "./styles/u-copy.css";
@import "./styles/u-draggable.css";
@import "./styles/u-preview.css";
@import "./styles/u-popover.css";
@import "./styles/u-upload.css";
@import "./styles/u-cropper.css";

.is-small {
  font: var(--font-small);
}
