.accordion > summary {
  --marker-image: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m8 9.586 5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 1.414-1.414L8 9.586Z" /></svg>');
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  min-height: 3rem;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-line-light);
  cursor: pointer;
  list-style: none;
  border-radius: inherit;
  border-radius: var(--border-radius);
  transition-property: background;
  transition-duration: var(--animation-duration);

  &:hover {
    background: var(--color-line);
  }

  &.is-header {
    background: none;

    &:hover {
      background: var(--color-line-light);
    }
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    mask: var(--marker-image) center center / 100% 100% no-repeat;
    -webkit-mask: var(--marker-image) center center / 100% 100% no-repeat;
    mask-size: 1rem 1rem;
    width: 2rem;
    height: 2rem;
    background: currentColor;
    transform: rotate(-90deg);
    flex: 0 0 auto;
  }
}
.accordion.is-button {
  > summary {
    min-height: 40px;
    width: fit-content;
    margin-bottom: 1em;
  }
}
.accordion-title {
  font: var(--font-ui-bold);
  text-transform: capitalize;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;

  em {
    font: var(--font-ui);
    color: var(--color-dim);
  }
}
.accordion-description {
  font: var(--font-small);
  color: var(--color-dim);
  width: 100%;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;

  &:empty {
    display: none;
  }
}

.accordion[open] > summary::before {
  transform: rotate(0deg);
}

.accordion-body {
  margin-top: 0.5rem;
}
