.app-container {
  display: grid;
  align-content: space-between;
  row-gap: 2rem;
  padding: 2rem 3rem;
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100vh;

  @media (width < 500px) {
    padding: 2rem 1.5rem;

    &:has(.field-dom-picker) {
      padding: 2rem 1.5rem 2rem 3rem;
    }
  }
}
.app {
  width: 100%;
  max-width: var(--app-width);
  margin: auto;
  display: grid;
  row-gap: var(--row-gap-small);
}
.app-nav {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;

  u-dropdown {
    z-index: 4;
  }
}
.app-footer {
  text-align: center;
  font: var(--font-small);
  color: var(--color-dim);
  width: 100%;
  max-width: var(--app-width);
  margin: auto;

  & a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin: 0;
  }
}
