.code {
  > .cm-editor {
    background: var(--color-white);
    border: solid 1px var(--color-line);
    border-radius: var(--border-radius);
    overflow: hidden;
    color: var(--color-text);

    &.cm-focused {
      outline:0;
      border-color: var(--color-primary);
      box-shadow: 0 0 0 3px color-mix(in hsl, var(--color-primary), transparent 75%);
    }
    .cm-scroller {
      line-height: 1.6;
    }
  }

  .cm-content {
    padding: .5rem;
  }

  .ͼ5 {color: var(--color-code-5);}
  .ͼb {color: var(--color-code-b);}
  .ͼc {color: var(--color-code-c);}
  .ͼd {color: var(--color-code-d);}
  .ͼe {color: var(--color-code-e);}
  .ͼf {color: var(--color-code-f);}
  .ͼg {color: var(--color-code-g);}
  .ͼh {color: var(--color-code-h);}
  .ͼi {color: var(--color-code-i);}
  .ͼj {color: var(--color-code-j);}
  .ͼk {color: var(--color-code-k);}
  .ͼl {color: var(--color-code-l);}
  .ͼm {color: var(--color-code-m);}
  .ͼn {color: var(--color-code-n);}
}
