.code {
  > .cm-editor {
    color: var(--color-input-text);
    background: var(--color-input-bg);
    border: solid 1px var(--color-line);
    border-radius: var(--border-radius);
    overflow: hidden;

    &.cm-focused {
      outline: 0;
      border-color: var(--color-primary);
      box-shadow: 0 0 0 3px
        color-mix(in hsl, var(--color-primary), transparent 75%);
    }
    .cm-scroller {
      line-height: 1.6;
    }
  }

  .cm-content {
    padding: 0.5rem !important; /* Override codemirror styles */
    caret-color: var(--color-input-text)
      !important; /* Override codemirror styles */
    min-height: 70px !important; /* Override codemirror styles */
  }
}
