.emptyState {
  margin: 0;
  padding: 6rem 2rem;
  text-align: center;
  color: var(--color-dim);
  font: var(--font-ui);
  font-weight: normal;
  letter-spacing: var(--font-title-spacing);
  background: var(--color-highlight);
  border-radius: var(--border-radius);

  h1 {
    font: var(--font-body-bold);
    margin: 0 0 2em;

    code {
      color: var(--color-dim);
    }
  }

  &.is-error {
    h1, > u-icon {
      color: var(--color-error);
    }
  }
  .ly-rowStack {
    justify-content: center;
  }
}
