.inputFile {
  max-width: max-content;
  border-radius: var(--border-radius);
}
/* Like .button.is-secondary */
.inputFile::file-selector-button {
  color: var(--color-text);
  background: var(--color-line-light);
  border: none;
  font: var(--font-ui);
  line-height: 1;
  padding: 0 .75em;
  min-height: 40px;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  border-radius: var(--border-radius);
  transition-properties: color, background;
  transition-duration: var(--animation-duration);

  &:hover {
    background: var(--color-line);
  }
}
