.input,
.input-autogrow::after {
  display: block;
  width: 100%;
  padding: .5em .8em;
  min-height: 40px;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-line);
  background: var(--color-white);
  font: var(--font-ui);

  &:focus-visible {
    border-color: var(--color-primary);
  }

  &.is-narrow {
    max-width: 300px;
  }
  &.is-xnarrow {
    max-width: 150px;
  }
  &.is-inline {
    border: none;
    display: inline-block;
    vertical-align: middle;
    flex: 1 1 200px;
    align-self: center;
    color: var(--color-dim);
  }
}
[type="color"].input {
  width: 80px;
  padding: 4px;
}

textarea.input {
  resize: vertical;
  height: auto;
}

.input-autogrow {
  display: grid;

  &::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
    grid-area: 1 / 1 / 2 / 2;
  }

  > textarea {
    resize: none;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;
  }
}
