.ly-rowStack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1rem;
  row-gap: .5rem;

  &.is-responsive {
    @media (max-width: 400px) {
      .button {
        flex: 1 1 auto;
      }
    }
  }
}
