.list {
  list-style: none;
  margin: var(--row-gap-normal) 0;
  padding: 0;

  li {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    position: relative;

    > :first-child {
      flex-grow: 1;
    }
    + li {
      margin-top: 0.25rem;
    }
  }

  ul {
    list-style: none;
    margin: 0.5rem 0 0.5rem 1rem;
    padding-left: 1rem;
    border-left: solid 1px var(--color-line);
  }

  .accordion {
    max-width: 100%;

    & summary {
      font: var(--font-ui-bold);
      max-width: none;
    }
  }

  .is-separated {
    margin-top: var(--row-gap-small);
    padding-top: var(--row-gap-small);
    border-top: solid 1px var(--color-line);
  }
}

.list-item {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  text-decoration: none;
  font: var(--font-ui-bold);
  border-radius: var(--border-radius);
  color: var(--color-text);
  word-wrap: anywhere;

  & u-icon {
    color: var(--color-dim);
  }

  &[href]:hover {
    color: var(--color-text);
    background-color: var(--color-line-light);
  }
}
.list-actions {
  position: absolute;
  top: 4px;
  right: 4px;
}
form.list-item {
  padding: 0;

  & button {
    border: none;
    background: none;
    display: inherit;
    align-items: inherit;
    column-gap: inherit;
    text-decoration: inherit;
    font: inherit;
    padding: 0.25rem 0.5rem;
    color: inherit;
    cursor: pointer;
    width: 100%;
    border-radius: inherit;

    &:hover {
      background-color: var(--color-line-light);
    }
  }
}

.list-item-header {
  font-weight: normal;
  padding: 0.5em 0;
  flex: 1;

  > p {
    margin: 0;
    color: var(--color-dim);
    font: var(--font-small);
  }
}
