.navigation {
  margin: 0 -5px;
  background-color: var(--color-background);
  justify-items: start;
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  gap: 0.5rem;
  padding: 5px;
  margin-bottom: var(--row-gap-normal);

  u-filter {
    flex: 1 1 auto;
  }
  .button {
    flex: 0 0 auto;
  }
}
