.select {
  --marker-image: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m8 9.586 5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 1.414-1.414L8 9.586Z" fill="black"/></svg>');

  appearance: none;
  padding: 0.6em;
  min-height: 2.5em;
  padding-right: 2.5em;
  background: var(--marker-image) no-repeat center right 1em;
  background-size: 1em 1em;
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
  display: block;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-line);
  max-width: 100%;
  min-width: 0;

  &:focus-visible {
    border-color: var(--color-primary);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.33;
    pointer-events: none;
  }
  &.is-narrow {
    max-width: min(100%, 300px);
  }
  &.is-secondary {
    background-color: var(--color-line-light);
    border: none;
  }
}
[data-theme="dark"] .select {
  --marker-image: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m8 9.586 5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 1.414-1.414L8 9.586Z" fill="white"/></svg>');
}
