.tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
  padding: 0.3rem 5px;
  margin-left: -5px;
  margin-right: -5px;

  &.is-sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--color-background);
  }
}
.tools-group {
  display: flex;
  gap: 2px;

  &:not(:last-child) {
    border-right: solid 1px var(--color-line);
    padding-right: 1rem;
  }
}
