.tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1rem;
  row-gap: .5rem;
  padding: .3rem 5px;
  position: sticky;
  margin-left: -5px;
  margin-right: -5px;
  top: 0;
  z-index: 2;
  background: var(--color-background);
}
.tools-group {
  display: flex;
  gap: 2px;

  + .tools-group {
    border-left: solid 1px var(--color-line);
    padding-left: 1rem;
  }
}