u-copy {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 40px;
}
u-copy-inline {
  display: inline-block;
  position: relative;

  button {
    background: none;
    border: none;
    padding: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    column-gap: 0.5em;
    align-items: center;
    text-align: left;

    &:hover {
      opacity: 0.5;
    }
  }
  u-icon {
    width: 1.2em;
    height: 1.2em;
  }
}
