body:has(> .pagepreview) {
  display: grid;
  --modal-width: max(min(500px, 90vw), 50%, 100% - var(--app-width));

  > * {
    grid-area: 1 / 1;
    align-self: start;
  }
  > .pagepreview {
    justify-self: start;
    resize: both;
    overflow: hidden;
    display: flex;
    animation: previewIn var(--animation-duration);
    width: var(--modal-width);
    max-height: 100vh;
    height: 100vh;
    box-shadow: 0 0 1px #0003, 0 0 30px #0002;
    z-index: 10;
    position: sticky;
    top: 0;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  > .app-container {
    justify-self: end;
    width: max(min(500px, 90vw), 100% - var(--modal-width));

    @media (width < 1000px) {
      box-shadow: 0 0 1px #0003, 0 0 30px #0002;

      &:hover,
      &:focus,
      &:focus-within {
        z-index: 11;
      }
    }
  }
}

@keyframes previewIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
