u-preview {
  display: block;

  & img,
  & video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  & audio {
    display: block;
    width: 100%;
    margin: 0;
  }
  & iframe {
    display: block;
    aspect-ratio: 3 / 2;
    width: 100%;
  }
}